p {
  font-family: "Montserrat", serif;

}

body {
  background-color: #ffffff;
  color: #2d2c2c;
  width: 1180px;
  padding-left: 20px;
  padding-right: 20px
}

.intro {
  margin: 0 auto;
}

h1 {
  margin: 0 auto;
  display: block;
  font-size: 40px;
}

#introTitle {
  display: block;
  text-shadow: 3px 3px 10px black;
  padding: 20px 0;
  display: block;
}

#uniTitle,
#workTitle,
#playTitle {
  color: #00539f;
  text-shadow: 3px 3px 10px black;
}

#container {
  width: 100%;
}

#intro {
  display: block;
  margin: 0 auto;
  border-left: 50%;
}

#companyLogo img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.image-cropper {
  width: 1000px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

#cat {
  padding: 1rem 0 1rem 0;
}

#contact button {
  cursor: pointer;
}


/* Style of all buttons that collapses and extends sections */
.collapsible {
  background-color: #ccc;
  cursor: pointer;
  padding-left: 100px;
  text-align: center;
  outline: none;
  font-size: 20px;
}

.active,
.collapsible:hover {
  background-color: rgba(159, 162, 196, 0.452);

}

.content {
  padding: 0 18px;
  overflow: hidden;
  background-color: #ffffff38;
  box-shadow: 5px 10px rgba(159, 162, 196, 0.452);
  outline-width: 10px;
  outline: 1px solid #2d2c2c;
  display: block;
}