p {
  font-family: "Montserrat", serif;

}

body {
  background: linear-gradient(90deg, rgba(37, 52, 126, 0.481) 0%,  rgb(87, 118, 242) 50%, rgba(16, 9, 121, 0.19) 100%);;
  color: #2d2c2c;
  width: 1180px;
  padding-left: 400px;
  padding-right: 20px
}

.intro {
  margin: 0 auto;
}

h1 {
  margin: 0 auto;
  display: block;
  font-size: 40px;
}

#mainButtons{
  padding-left: 400px;
  padding-bottom: 10px;
}

#introTitle {
  display: block;
  text-shadow: 3px 3px 10px rgb(255, 255, 255);
  padding: 20px 0;
  display: block;
  padding-left: 350px;
}

#uniTitle,
#workTitle,
#playTitle {
  color: #00539f;
  text-shadow: 3px 3px 10px black;
}

#container {
  width: 100%;
}

#intro {
  display: block;
  margin: 0 auto;
  border-left: 50%;
}

#companyLogo img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.image-cropper {
  width: 1000px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 80%;
}

#contact button {
  cursor: pointer;
  padding: 20px;
  margin-left: 550px;
}


/* Style of all buttons that collapses and extends sections */
.collapsible {
  background-color: #ccc;
  cursor: pointer;
  padding-left: 100px;
  text-align: center;
  outline: none;
  font-size: 20px;
}

.active,
.collapsible:hover {
  background-color: rgba(159, 162, 196, 0.452);

}

.content {
  padding: 0 18px;
  overflow: hidden;
  background-color: #ffffff38;
  box-shadow: 5px 10px rgba(159, 162, 196, 0.452);
  outline-width: 10px;
  outline: 1px solid #2d2c2c;
  display: block;
}
